/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  background-color: lightgray;
}

.header-main {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  width: 100%;
  padding: 20px 50px;
}

.header-main ul {
  list-style-type: none;
  display: flex;
  column-gap: 15px;
}

.header-main ul li {
  cursor: pointer;
}

/* Header Responsiveness */

@media (max-width: 768px) {
  .header-main {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 10px 10px;
  }
}

/* Nav bar */
.navbar {
  display: flex;
  justify-content: center;
}

.navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  max-width: 1600px;
  width: 100%;
}

.nav-links-pc {
  display: flex;
  list-style: none;
  column-gap: 20px;
}

.nav-links-pc li {
  display: inline;
}

.nav-links-pc li a {
  text-decoration: none;
  color: black;
}

.hamburger {
  display: none;
  cursor: pointer;
  width: 45px;
}

.nav-links-mobile {
  display: none;
}

.nav-links-mobile li a {
  text-decoration: none;
  color: black;
}

.menu-close {
  display: none;
  position: relative;
  z-index: 6;
  top: 0px;
  right: 0px;
}

/* Nav bar Responsiveness */

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
@media (max-width: 768px) {
  .navbar-main {
    padding: 10px 20px;
  }

  .nav-links-pc {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .nav-links-mobile {
    list-style: none;
    flex-direction: column;
    row-gap: 10px;
    position: absolute;
    top: 83px;
    right: 0px;
    background-color: rgb(255, 251, 251);
    width: 300px;
    padding: 30px 20px;
    z-index: 5;
  }
}

/* Hero Section */

.hero {
  display: flex;
  justify-content: center;
  background-image: url("../assets/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  max-width: 1600px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.hero > * {
  position: relative;
  z-index: 2;
  color: white;
}

#hero-container1 {
  display: flex;
  width: 50%;
}

#hero-container1-empty {
  height: 500px;
  width: 20%;
}

.hero-container1-image {
  height: 500px;
}

#hero-man-img {
  height: 500px;
  width: 320px;
}

.hero-container2 {
  width: 50%;
  height: 100%;
}

.hero-container2-main {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-container2-main-h1 {
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.hero-container2-main-p {
  color: lightslategray;
}

.hero-container2-btn-div {
  display: flex;
  gap: 20px;
}

.hero-container2 button {
  transition: transform 0.3 ease;
}
.hero-container2 button:hover {
  transform: scale(0.95);
}

.hero-container2-button1 {
  padding: 10px 20px;
  border-color: #ff9800;
  background-color: #ff9800;
  color: white;
  cursor: pointer;
}

.hero-container2-button2 {
  padding: 10px 20px;
  border-color: lightgray;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hero-main {
    flex-direction: column;
    justify-content: left;
  }

  #hero-container1 {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
  }
  #hero-container1-empty {
    display: none;
  }
  .hero-container1-image {
    height: 250px;
    width: 160px;
  }

  #hero-man-img {
    height: 250px;
    width: 160px;
  }

  .hero-container2 {
    width: 100%;
    height: 100%;
  }

  .hero-container2-main-h1 {
    font-size: 21px;
  }
  .hero-container2-main-p {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  #hero-container1-empty {
    display: none;
  }

  .hero {
    padding: 20px;
  }
}

/* Conatct Information */

.contact-info {
  background-color: hsl(0, 0%, 92%);
  display: flex;
  justify-content: center;
}

.contact-info-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  padding: 50px;
}

.contact-info-btn-main {
  display: flex;
  text-decoration: none;
  background-color: #ff9800;
  padding: 7px 10px;
  align-items: center;
}

.contact-info-main p {
  font-size: 20px;
  font-weight: 700;
}

.phone-icon {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .contact-info-main {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px;
  }

  .contact-info-btn-main {
    display: flex;
    text-decoration: none;
    background-color: #ff9800;
    padding: 7px 10px;
    align-items: center;
  }

  .contact-info-main p {
    font-size: 15px;
    font-weight: 600;
  }
}

/* Why Choose Us */
.why-choose-us {
  display: flex;
  justify-content: center;
  width: 100%;
}

.why-choose-us-main {
  display: flex;
  width: 100%;
  max-width: 1600px;
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 120px;
}

.why-choose-us-sub1 {
  width: 35%;
}

.why-choose-us-sub1 div {
  position: relative;
  width: 100%;
  height: 95%;
  border: 5px solid gray;
}

.why-choose-us-sub1 div img {
  position: absolute;
  width: 100%;
  height: 100%;
  right: -20px;
  top: 30px;
}

.why-choose-us-sub2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 65%;
  padding: 0px 80px;
}

.why-choose-us-sub2 h1 {
  font-size: 40px;
  font-weight: 700;
}

.why-choose-us-sub2-point-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 30px;
}

.why-choose-us-sub2-point {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

/* Why Choose Us Responsiveness */
@media (max-width: 768px) {
  .why-choose-us-main {
    flex-direction: column;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
  }

  .why-choose-us-sub1 {
    width: 100%;
  }

  .why-choose-us-sub1 div {
    width: 270px;
    height: 220px;
  }

  .why-choose-us-sub1 div img {
    width: 270px;
    height: 220px;
    right: -20px;
    top: 10px;
  }

  .why-choose-us-sub2-point h3 {
    font-size: 18px;
  }

  .why-choose-us-sub2 {
    width: 100%;
    padding: 30px 0px;
  }
  .why-choose-us-sub2 h1 {
    font-size: 30px;
    font-weight: 600;
  }

  .why-choose-us-sub2-point-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4);
    row-gap: 30px;
  }

  .why-choose-us-sub2-point {
    justify-content: start;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .why-choose-us-main {
    flex-direction: column;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
  }

  .why-choose-us-sub1 {
    width: 100%;
  }

  .why-choose-us-sub1 div {
    width: 570px;
    height: 420px;
  }

  .why-choose-us-sub1 div img {
    width: 570px;
    height: 420px;
    right: -20px;
    top: 10px;
  }

  .why-choose-us-sub2 {
    width: 100%;
    padding: 30px 0px;
  }
  .why-choose-us-sub2 h1 {
    font-size: 30px;
    font-weight: 600;
  }

  .why-choose-us-sub2-point-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
  }
}

/* Services*/
.services {
  display: flex;
  justify-content: center;
  background-image: url("../assets/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.services > * {
  position: relative;
  z-index: 2;
  color: white;
}

.services-main {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  padding: 50px;
}

.services-main h1 {
  font-size: 40px;
  font-weight: 700;
}

.service-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 50px;
}

.service-item {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  text-decoration: none;
  color: white;
  border: 3px solid #013e99;
  transition: background-color 0.3s ease;
}

.services-main a {
  text-decoration: none;
  color: white;
}

.services-main button {
  background-color: #ff9800;
  padding: 20px 30px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.services-main button:hover {
  transform: scale(0.95);
}

.service-item:hover {
  background-color: rgba(1, 62, 153, 0.7);
  cursor: pointer;
}

.service-item p {
  text-align: center;
  color: #ccc;
}

/* Services Responsiveness */

@media (max-width: 768px) {
  .services-main {
    row-gap: 50px;
    padding: 30px 20px;
  }

  .services-main h1 {
    font-size: 24px;
    font-weight: 600;
  }

  .service-items {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }

  .services-main a h2 {
    font-size: 18px;
  }

  .services-main button {
    padding: 15px 25px;
    font-size: 12px;
    font-weight: 500;
  }
}

@media (min-width: 768px) and (max-width: 1100px) {
  .service-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
  }
}

/* Projects */

.projects {
  display: flex;
  justify-content: center;
}

.projects-main {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  padding: 60px;
}

#project-tabs {
  display: flex;
  list-style: none;
  column-gap: 20px;
}

#project-tabs li a {
  text-decoration: none;
  color: black;
}

#project-tabs li.active a {
  color: #ff9800;
}

.project-tab.active {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-tab {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.project-tab img {
  aspect-ratio: 3/2;
  width: 100%;
  cursor: pointer;
}



.projects-main a {
  text-decoration: none;
}

.projects-main a button {
  background-color: #ff9800;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.projects-main a button:hover {
  transform: scale(0.95);
}

/* Projects Responsiveness */

@media (max-width: 768px) {
    .projects-main {
        row-gap: 20px;
        padding: 30px 20px;
      }
    #project-tabs {
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
      }

    #project-tabs li a{
        font-size: 12px;
    }

    .projects-main a button {
        padding: 10px 25px;
        font-size: 12px;
      }
}



/* Problem */
.problem {
  display: flex;
  justify-content: center;
  background-image: url("../assets/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.problem::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.problem > * {
  position: relative;
  z-index: 2;
  color: white;
}

.problem-main {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1600px;
}

.problem-sub1 {
  width: 50%;
  padding: 0px 50px;
}

.problem-sub1 h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.problem-sub1 a {
  display: flex;
  align-items: center;
  background-color: #ff9800;
  padding: 10px 30px;
  column-gap: 10px;
  width: fit-content;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.problem-sub2 {
  width: 50%;
  padding: 0px 50px;
}

.problem-sub2 img {
  height: 600px;
  width: 90%;
  padding-top: 50px;
}

/* Problem Responsiveness*/
@media (max-width: 768px) {
  .problem-main {
    flex-direction: column-reverse;
    padding-bottom: 20px;
  }
  .problem-sub1 {
    width: 100%;
    padding: 0px 20px;
  }

  .problem-sub1 h1 {
    font-size: 24px;
    font-weight: 600;
  }

  .problem-sub2 {
    width: 100%;
    padding: 0px 20px;
  }

  .problem-sub2 img {
    height: 400px;
    width: 95%;
    padding-top: 50px;
  }
}

/* Conatct */
.contact {
  display: flex;
  justify-content: center;
  background-color: rgb(211, 219, 226);
}

.contact-main {
  display: flex;
  column-gap: 50px;
  max-width: 1600px;
  width: 100%;
  padding: 50px;
}

.contact-sub1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 60px;
  width: 40%;
}

.contact-sub1-map {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

.contact-sub2 {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  width: 60%;
}

.contact-sub2-form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
}

.contact-sub2-form-section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.contact-sub2-form-section1 input {
  padding: 15px 20px;
  border: none;
}

.contact-sub2-form-section2 textarea {
  padding: 15px 20px;
  border: none;
  width: 100%;
}

.contact-sub2-form a {
  text-decoration: none;
}

.contact-sub2-form a button {
  background-color: #ff9800;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: white;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.contact-sub2-form a button:hover {
  transform: scale(0.95);
}

@media (max-width: 900px) {
  .contact-main {
    flex-direction: column;
    row-gap: 20px;
    padding: 30px 20px;
  }

  .contact-sub2-form-section1 {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .contact-sub2-form a button {
    padding: 10px 25px;
    font-size: 14px;
  }
  .contact-sub1 {
    width: 100%;
  }
  .contact-sub2 {
    width: 100%;
  }
  
}

/* Badge sectiom */
.badge {
  display: flex;
  justify-content: center;
}

.badge-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0px;
  width: 100%;
  max-width: 1600px;
}

.badge-main img {
  height: 200px;
}

@media (max-width: 640px) {
  .badge-main img {
    height: 70px;
  }
}

@media (min-width: 640px) and (max-width: 1440px) {
  .badge-main img {
    height: 150px;
  }
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  background-color: #1a1a1a;
  color: white;
}

.footer-main {
  display: flex;
  max-width: 1600px;
  width: 100%;
  justify-content: space-between;
  padding: 70px 50px;
}

.footer-sub1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-sub1 ul {
  list-style: none;
  line-height: 150%;
}

.footer-sub1 ul li {
  display: flex;
  column-gap: 10px;
  margin: 10px 0px;
  align-items: center;
}

.footer-sub1-icon {
  padding: 5px 5px 0px 5px;
  background-color: #303030;
  border-radius: 100%;
}

.footer-sub2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-sub2 div {
  display: flex;
  justify-content: space-between;
}

.footer-sub2 div ul {
  list-style: none;
  line-height: 200%;
}

.footer-sub2 div ul a {
  text-decoration: none;
  color: white;
}

.footer-sub2 div ul a li {
  display: flex;
  column-gap: 5px;
  margin: 10px 0px;
  align-items: center;
}

.footer-sub3 {
  width: 100%;
  padding: 0px 100px;
}

.footer-sub3-main {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  border: dotted 1px;
  border-color: lightgray;
  padding: 50px;
}

.footer-sub3-sub1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-sub3-sub1 div {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}

.footer-sub3-sub1 div p {
  font-size: 50px;
  font-weight: 900;
  color: #ff9800;
  margin: 0px 10px;
}

#footer-sub3-sub1-p {
  font-size: 24px;
  font-weight: 600;
}

.footer-sub3-code {
  display: flex;
  justify-content: center;
}

/* Footer Responsiveness */
@media (max-width: 768px) {
  .footer-main {
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
  }

  .footer-sub1 h2 {
    font-size: 24px;
    font-weight: 600;
  }

  .footer-sub1 p {
    font-size: 14px;
  }

  .footer-sub2 h2 {
    font-size: 24px;
    font-weight: 600;
  }

  .footer-sub2 p {
    font-size: 14px;
  }

  .footer-sub3 {
    padding: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .footer-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: start;
    gap: 0px;
    padding: 30px 20px;
  }
  .footer-sub1:nth-child(3) {
    grid-column: 1 / span 2;
    grid-row: 2 / 3;
  }
  .footer-sub2:nth-child(3) {
    grid-column: 1 / span 2;
    grid-row: 2 / 3;
  }
  .footer-sub3:nth-child(3) {
    grid-column: 1 / span 2;
    grid-row: 2 / 3;
  }
}

/* Post Footer */

.post-footer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  width: 100%;
  padding: 20px;
}

@media (max-width: 768px) {
  .post-footer p {
    font-size: 14px;
  }
}
